* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bg {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bg video {
  width: 100%;
}

.login-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 90%;
  max-width: 500px;
  margin: auto;
  background-color: #ffffff;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 8px;
}

.form {
  padding: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.form h1 {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #3b4354;
  font-family: "Genshin-Font";
  font-weight: normal;
  text-align: center;
}

.form h3 {
  font-weight: normal;
  font-size: 1rem;
  color: #7f858a;
  margin-top: 2rem;
  text-align: center;
  line-height: 2rem;
}

.inputBox {
  position: relative;
  width: 90%;
  margin: 1.2rem 0;
}

/* Input Field Designs */
.inputBox input {
  width: 100%;
  padding: 0.9em;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
  color: #000000;
  font-size: 0.95rem;
  transition: 0.1s;
}
.inputBox input:focus {
  border-color: #132f6b;
}
.inputBox input:valid {
  border-color: #132f6b;
}
/* Placeholder Designs */
.inputBox .placeholder {
  position: absolute;
  left: 4%;
  top: 50%;
  translate: 0% -50%;

  padding: 3px;
  pointer-events: none;
  font-size: 0.9rem;
  color: #a8a8a8;
  text-transform: capitalize;
  transition: 0.3s;
}
.inputBox input:valid ~ .placeholder,
.inputBox input:focus ~ .placeholder {
  color: #132f6b;
  transform: translateY(-110%);
  background: #ffffff;
  border-radius: 4px;
  font-size: 0.8rem;
}

/* View Password */
.help {
  width: 90%;
  margin: auto;
}
.viewPasswd {
  display: flex;
  align-items: center;
}
.viewPasswd input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  accent-color: #3f4655;
}
.viewPasswd label {
  font-size: 0.8rem;
  color: #979797;
}

/* SubmitBtn */
.submit-btn {
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  padding: 0.8em 1.6em;
  background-color: #3b4354;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #414753;
  transition: 0.2s;
}

/* Other Options */
.form a {
  text-decoration: none;
  color: #414753;
}
.form a:hover {
  color: #4d4f53;
}

.passwd {
  text-align: left;
}

.otherOptions {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Validation Designs */
input.error {
  border-color: red;
}
input.success {
  border-color: #4bb543;
}
small.errormsg {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 2px;
  color: #b00020;

  display: none;
}
