@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', cursive;
  color: #4B3302;
  background-color: #BD9E63;
}
.container {
  background-color: #F5DDB1;
}
.col {
/*   border-style: solid;
  border-width: 1px; */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.center{
  text-align : center;
}
small{
  font-size: 12px;
}
.btn-secondary{
  background-color: #BD9E63;
  color: #ffffff;
}
.thum{
  width:32px;
  height:32px;
}
.vapo {
  color: #FAA969;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #AA5A49,
    1px -1px 0 #AA5A49,
    -1px 1px 0 #AA5A49,
    1px 1px 0 #AA5A49;
}
.melt {
  color: #FAC769;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #9F5343,
    1px -1px 0 #9F5343,
    -1px 1px 0 #9F5343,
    1px 1px 0 #9F5343;
}
.overl {
  color: #FF5770;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #A93A4B,
    1px -1px 0 #A93A4B,
    -1px 1px 0 #A93A4B,
    1px 1px 0 #A93A4B;
}
.elecharge {
  color: #ED56FF;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #883493,
    1px -1px 0 #883493,
    -1px 1px 0 #883493,
    1px 1px 0 #883493;
}
.supcon {
  color: #D4ACFF;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #786290,
    1px -1px 0 #786290,
    -1px 1px 0 #786290,
    1px 1px 0 #786290;
}
.forzen {
  color: #9AE0FF;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #73A1B5,
    1px -1px 0 #73A1B5,
    -1px 1px 0 #73A1B5,
    1px 1px 0 #73A1B5;
}
.swirl {
  color: #75FFD1;
  font-size: 24px;
  text-shadow: 
    -1px -1px 0 #66A792,
    1px -1px 0 #66A792,
    -1px 1px 0 #66A792,
    1px 1px 0 #66A792;
}
.fire{
  color: #F5581D;
}
.water{
  color: #4992E5;
}
.ice{
  color: #00BDFF;
}
.elec{
  color: #B356BE;
}